#auth {
    #social-login {
        i.fa-ellipsis-h, i.fa-ellipsis-v {
            opacity: 0.5;
        }
        ul.dropdown-menu {
            i.fa {
                font-size: 20px;
                padding-right: 3px;
                vertical-align: bottom;
            }
        }
    }
}
