.btn.btn-wrap {
	white-space: normal;
}

.panel-title {
    font-weight: bold;
}
.panel-body {
	.checkbox:first-child { margin-top: 0; }
	ul:last-child { margin-bottom: 0; }
}

.checkbox {
    label { display: block; }
    &.inline label { display: inline-block; }
}

ul.piped li {
	display: inline;
	&:not(:last-child):after {
		content: '|';
	}
}

.tooltip-inner {
    margin-bottom: -1px;
}

[class*=part-] {
    padding-right: 3px;
    font-size: 16px;
    z-index: 11;
}
.caption-title {
    .fa.part-participant { color: forestgreen; }
    .fa.part-involved    { color: goldenrod; }
    .fa.part-staff       { color: orangered; }
    .fa.part-speaker     { color: dodgerblue; }
}
