@import 'theme.variables';
@red: @darkestOrange;

label sup {
    color: @darkestPrimaryColor;
    font-size: 200%;
    top: 0.25em;
}

select.form-control {
    background: url(/img/chevron-down-light.png) no-repeat right 8px top 50%;
    &:focus {
        background-image: url(/img/chevron-down-focus.png);
    }
}

option[value=''] {
    font-style: italic;
}

.form-group {
    @margin-top: 5px;
    p {
        //the P here should not have margin, as it would cause issues with slideUp; the min-height is used
        //so we can offset the zeroed margin-top in a subsequent help-block when the error vanishes
        margin: 0;
        min-height: @margin-top;
        .help-block {
            margin-top: 0;
        }
    }
    .help-block, label.error {
        font-size: 80%;
        font-weight: normal;
        font-style: italic;
        margin: @margin-top 0;
    }

    label, input, .input-group-addon {
        transition-property: color, border-color;
        transition-duration: 0.5s;
    }

    &.error-block {
        label {
            color: @red;
        }
        input, .input-group-addon {
            border-color: @red;
        }
    }

    input[type=checkbox] + label {
        display: inline;
    }
}

form {
    .well.alert-danger {
        p {
            margin-bottom: 10px;
        }
        ul {
            list-style: disc inside;
            margin-bottom: 0;
        }
    }
}

select.tags-input + .select2 .select2-selection {
    min-height: 62px;
}