#paid_select {
    label {
        display: block;
        font-weight: normal;
        span {
            cursor: pointer;
            &.selected {
                font-weight: bold;
            }
        }
    }
	.text-left   { padding-right: 0; }
	.text-center { padding: 0; }
	.text-right  { padding-left: 0; }
}

#list-view {
	.thumbnails.events {
		.caption-title {
			margin-bottom: 5px;
			a { text-decoration: underline; }
		}
		.caption-category {
			line-height: 22px;
		}
		.caption-category,
		.caption-text,
		ul.piped {
			margin-bottom: 10px;
		}
	}
}

#grid-view { //TODO: should become a list when on mobile
    .thumbnails.events {
        @spacing: 10px;
        //.caption {
        //    padding-top: @spacing;
        //}
        .caption-title,
        .caption-category {
            margin-bottom: @spacing;
        }
        .media {
            max-height: 250px;
            max-width: 250px;
            margin: 0 auto;
        }
    }
}
