#paid_select {
	.text-left   { padding-right: 0; }
	.text-center { padding: 0; }
	.text-right  { padding-left: 0; }
}

#list-view {
	.thumbnails.events {
		.caption-title {
			margin-bottom: 5px;
			a { text-decoration: underline; }
		}
		.caption-category {
			line-height: 22px;
		}
		.caption-category,
		.caption-text,
		ul.piped {
			margin-bottom: 10px;
		}
	}
}