@import 'theme.variables';

.event-types {
    label {
        display: block;
    }
}

#paid_select {
    input[type=range], span {
        cursor: pointer;
    }
    label {
        display: block;
        span {
            font-weight: normal;
            transition: font-weight 0.2s;
            &.selected {
                font-weight: bold;
            }
        }
    }
	.text-left   { padding-right: 0; }
	.text-center { padding: 0; }
	.text-right  { padding-left: 0; }
}

.thumbnails.events {
    .caption-title {
        a {
            text-decoration: underline;
        }
    }
}
.thumbnail.compact {
    margin-bottom: 30px;
    .row > div:first-child {
        padding-right: 0;
    }
    .caption-category {
        margin-bottom: 0 !important;
    }
}

#list-view {
	.thumbnails.events {
		.caption-title {
			margin-bottom: 5px;
		}
		.caption-category {
			line-height: 22px;
		}
		.caption-category,
		.caption-text,
		ul.piped {
			margin-bottom: 10px;
		}
	}
}

#grid-view { //TODO: should become a list when on mobile
    .thumbnails.events {
        @spacing: 10px;
        //.caption {
        //    padding-top: @spacing;
        //}
        .caption-title,
        .caption-category {
            margin-bottom: @spacing;
        }
        .media {
            max-height: 250px;
            min-height: 40px; //acomodates the on-top icons
            max-width: 250px;
            margin: 0 auto;
        }
    }
}

.empty-block p {
    font-size: larger;
    color: @lightFontColor;
    margin-bottom: 0;

    i.fa {
        font-size: 400%;
        display: block;
        padding: 20px;
    }

    + p, + .btn {
        margin-top: 20px;
    }
}
