@import 'theme.variables';

#user {
    @socialIconsSpace: 10px;

    &.user-profile {
        #page-header {
            //background-size: 100% 100% !important;
            padding-bottom: 20px - @socialIconsSpace !important;

            .photo {
                text-align: right;
                img {
                    max-height: 250px;
                    max-width: 100%;
                    box-shadow: 0 0 30px 2px fade(gray, 50%);
                    border-radius: 15px;
                }
            }
            .details {
                display: table;
                text-align: left;
                color: white;
                .place {
                    font-size: 18px;
                    color: inherit;
                    text-decoration: underline;
                    &:hover {
                        color: @primaryColor;
                    }
                }
                .bio {
                    font-size: 18px;
                }
                .mistery {
                    margin-top: 10px;
                    font-size: 18px;
                    font-style: italic;
                    line-height: 20px;
                    opacity: 0.8;
                    i.fa {
                        float: left;
                        font-size: 40px;
                        display: block;
                        margin-right: 10px;
                    }
                }

                .social-profiles {
                    display: table-row;
                    height: 50px;
                    h2 {
                        margin-top: 0;
                        font-size: 16px;
                        color: inherit;
                    }
                    a {
                        font-size: 30px;
                        padding-right: @socialIconsSpace;
                        padding-bottom: @socialIconsSpace;
                        float: left; //seems to clear a weird bug regarding extra space to the right + tooltip trigger
                        color: #CCC; //stands out less than the rest of the block, since the icons are solid and the letters are not
                        &:hover {
                            color: @primaryColor;
                        }
                    }
                }
            }
        }
    }

    #page-header {
        h2, .function {
            color: white;
            font-size: 23px;
            margin-bottom: 5px;
            margin-top: 10px;
            i.part-speaker {
                font-size: 18px;
            }
        }
    }

    form {
        #social-networks {
            a.social-link-block {
                display: block;
                background-color: #EEE;
                border-radius: 5px;
                text-align: center;
                padding: 10px;
                margin-bottom: 15px;
                overflow-wrap: break-word;
            }

            label {
                font-weight: normal;
            }
        }
    }
}
